[Unit]
Description=Start Uvicorn and Celery workers
After=network.target

[Service]
User=User_name 
Group=Group_name
WorkingDirectory=/path/to/project/pydownloader
ExecStart=/path/to/project/pydownloader/run_service.sh
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
