<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pydownloader</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Pydownloader</h1>

        <!-- Display any error or success messages -->
        {% if error_message %}
        <div class="alert alert-error">{{ error_message }}</div>
        {% elif success_message %}
        <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}

        <!-- Form to submit platform, python version, and requirements -->
        <form id="form">
            <div class="form-group">
                <label for="platform">Platform Selector</label>
                <select name="platform" id="platform" required>
                    <option value="linux/amd64">linux/amd64</option>
                    <option value="linux/i386">linux/i386</option>
                    <option value="linux/arm/v5">linux/arm/v5</option>
                    <option value="linux/arm/v6">linux/arm/v6</option>
                    <option value="linux/arm/v7">linux/arm/v7</option>
                    <option value="linux/arm64">linux/arm64</option>
                    <option value="linux/ppc64le">linux/ppc64le</option> 
                    <option value="linux/s390x">linux/s390x</option>
                </select>
            </div>
            <div class="form-group">
                <label for="python_version">Python Version</label>
                <input type="text" name="python_version" id="python_version" placeholder="e.g., 3.9.1" value="3.8.17" required>
            </div>
            <div class="form-group">
                <label for="requirements">Requirements.txt</label>
                <textarea name="requirements" id="requirements" rows="5" placeholder="Enter requirements here..." required>numpy==2.0.1
fastapi
                </textarea>
            </div>
            <button onclick="submit_form()">Submit</button>
        </form>
        <div class="console-output">
            <h3>Console Output</h3>
            <pre id="console"></pre>
        </div>
        
        <!-- WebSocket script to receive and display real-time output -->
        <script>
            function submit_form(){
                const form = document.getElementById('form');
                const consoleElement = document.getElementById('console');
                const platform = encodeURIComponent(document.getElementById('platform').value.split('/').join('%0A'));
                const pythonVersion = document.getElementById('python_version').value;
                const requirements = document.getElementById('requirements').value.split('\n').join('%0A'); // URL encode newline

                // Open a WebSocket connection to the server
                const websocket = new WebSocket(`ws://${window.location.host}/ws/console/${platform}/${pythonVersion}/${requirements}`);
                // const websocket = new WebSocket(`ws://${window.location.host}/ws/console/${platform}`);

                // Function to handle incoming messages
                websocket.onmessage = function(event) {
                    consoleElement.textContent += event.data + "\n";
                    consoleElement.scrollTop = consoleElement.scrollHeight; // Auto-scroll
                };

                // Function to handle WebSocket closure
                websocket.onclose = function(event) {
                    consoleElement.textContent += "\nWebSocket closed.";
                };

                // Prevent form submission to allow WebSocket processing
                form.onsubmit = function(event) {
                    event.preventDefault();
                };
            };
        </script>
    </div>
</body>
</html>
